{% autoescape off %}

    Hello {{ user.first_name }} {{ user.last_name }},

    Thank you for registering with our site {{ current_site }}.

    Please click on the link to activate your account: http://{{ domain }}{% url 'activate' uidb64=uid token=token %}

    Your username is: {{ user.username }}

    If you're having any troubles during this process get in touch with Kumbirai (matingonk@gmail.com)
    If you did not register on our site, please ignore this email.

    ***

{% endautoescape %}
